.container {
  background-image: url("https://th.bing.com/th/id/R.9a54615d8c04b29a42a88e7e04f11124?rik=W7FWCRuaJfisww&riu=http%3a%2f%2f24.media.tumblr.com%2f9f699abf1601be5edfed2c11d6d6938a%2ftumblr_mybwujIC4V1qh59n0o1_500.gif&ehk=aXEJvvTZBAAbNaN0yk7nFjgyu2v%2fBej5cijrL495Qns%3d&risl=&pid=ImgRaw&r=0");
   height: 100dvh;
   background-repeat: no-repeat;
   background-size: cover;
}
